<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageCredentials>
    <github>
      <!-- NOTE: you will also need "nuget.exe setapikey access_token_here -Source github" -->
      <add key="Username" value="OWNER" />
      <add key="ClearTextPassword" value="TOKEN" />
    </github>
  </packageCredentials>
</configuration>
